<div class="footer">
  <div>
    <ul>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-linkedin"></i></li>
      <li class="no-display">This website was coded with ♥️</li>
    </ul>
  </div>
</div>

